			<ul>
				<li><a href="{{ url('home') }}">Homepage</a></li>
				<li><a href="index.php?page=facebook">Facebook</a></li>

				<li><a href="index.php?page=google">Google+</a></li>
				<li><a href="index.php?page=linkedin">Linked-in</a></li>
			</ul>