					<div class="sidebarItem">

						<h4>{{ content.title }}</h4>

						<ul>
							{% for repo in content.repositories[:5] %} 
							<li>
								<a href="{{ repo.html_url }}">{{ repo.name|capitalize }}</a><span>{{ repo.updated_at|date("Y/m/d") }}</span>
							</li>
							{% endfor %}
						</ul>

					</div>