{% extends 'Core/default.html.twig' %}

{% block title %}Blog{% endblock %}

{% block content %}


<div class="blogheader" id="pageheader">
	<h1><a href="http://localhost/framework/web/blog">Register</a></h1>
	
	
</div>
	
{% if error|length > 0 %}
	<p>Errors:</p>
	{% for message in error %}
		{% for display in message %}
	        <li>{{ display }}</li>
	    {% endfor %}
	{% endfor %}
	<br />
{% endif %}

<form method="post" action="">
<input type="hidden" name="_token" value="{{ csrf_token() }}" />
	<label>Username: </label><input type="text" name="username" /> <br />
	<label>Password: </label><input type="password" name="password" /> <br />
	<label>Confirm: </label><input type="password" name="password2" /> <br />
	<label>Email: </label><input type="text" name="email" /> <br /><br />	
	
	<input type="submit" name="submit" value="Register" />
</form>

{% endblock %}