<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Jordi Kroon ~ {% block title %}Admin{% endblock %}</title>

		<!-- CSS -->
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<link href="{{ base_path() }}templates/admin/css/transdmin.css" rel="stylesheet" type="text/css" media="screen" />
		<!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen" href="{{ base_path() }}templates/admin/css/ie6.css" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen" href="{{ base_path() }}templates/admin/css/ie7.css" /><![endif]-->
		<link href="{{ base_path() }}templates/admin/css/alert.css" rel="stylesheet" type="text/css" media="screen" />

		<!-- JavaScripts-->
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

		
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

	</head>

	<body>
		<div id="wrapper">
			{% block content %}{% endblock %}
		</div>
		<!-- // #wrapper -->
	</body>
</html>