          
                <div class="clear"></div>
            </div>
            <!-- // #container -->
   <p align='center' id="footer">Powered by <a href="http://www.sficlan.com">sficlan.com</a> Template made by <a href="http://www.perspectived.com">perspectived.</a></p>
        </div>	
        <!-- // #containerHolder -->
        
     
    </div>
    <!-- // #wrapper -->
</body>
</html>