        <div id="containerHolder">
			<div id="container">
        		<div id="sidebar">
                	<ul class="sideNav">
                    	<li><a href="/admincp/?module=users&action=manage_users">Manage users</a></li>
                    	<li><a href="/admincp/?module=users&action=warn_users">Warn users</a></li>
                    	<li><a href="/admincp/?module=users&action=ban">Ban users</a></li>
                    	<li><a href="/admincp/?module=users&action=blacklist">Blacklist</a></li>
                    	<li><a href="/admincp/?module=users&action=create_admins">Create admins</a></li>
                    </ul>
                    <!-- // .sideNav -->
                </div>    
                <!-- // #sidebar -->