body {margin:0px; padding:0px; }
.webapp {
	background-image:url('../img/tile-webapp.jpg');
	background-repeat:no-repeat;
	background-size:100% auto;
	max-width:250px;
	width:30%;
	height:250px;
}
.ios {
	
	background-image:url('../img/tile-iosapp.jpg');
	background-repeat:no-repeat;
		background-size:100% auto;
	max-width:250px;
	width:30%;
		height:250px;
}
.php { 
	background-image:url('../img/tile-framework.jpg');
	background-repeat:no-repeat;
		background-size:100% auto;
	max-width:250px;
	width:30%;
		height:250px;
}
.tile span { display:none;}







/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  

ul, #bottomcontent {
	margin: 0 auto;
	max-width:1000px;
}

#bottomcontent {
	margin-bottom:300px;
}

li {
	float: left;
	list-style-type:none;
	margin-right: 30px;
	height:35px;
	
	text-align: center;
}

a#loginbtn {
	color:rgb(243,243,243);
	float: right;
	background-color:rgb(18, 115, 190);
	width: 110px;
}

li a#loginbtn:hover {
	color:rgb(28, 26, 26);
}

li a {
	line-height: 35px;
}

a:hover {
	color:rgb(18, 115, 190);
}

#menu, footer {
	background-color:rgb(28, 26, 26);
	height: 35px;
}

body {
	background-color:rgb(247, 247, 247);
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 10pt;
	color:rgb(243, 243, 243);
}

a, a:active {
	color:rgb(243, 243, 243);
	text-decoration: none;
}

#socialbar {
	float: right;
}

footer {
	position:fixed;
	left:0px;
	right:0px;
	bottom: 0;

}

#spacer {
	margin-top:50px;
	width: auto;
}

#footercontainer {
	width: 70%;
	max-width:1000px;
	margin: 0 auto;
}

#topcontent {
	width: 100%;
	height: 339px;
	background-image: url('../img/header.jpg');
	background-repeat: no-repeat;
	background-size:cover;
}

h2 {
	font-weight: 100;
	color: rgb(47, 47, 47);
	font-size: 32pt;
	text-align: center;
	height: 30px;
}

hr {
	width: 350px;
	height: 3px;
	background-color: rgb(142, 142, 142);
    display: block;
    height: 1px;
   	border: 0;
   	margin: 0 auto;
   	padding: 0;
}

#tilescontainer {
	min-height: 250px;
	margin-top:100px;
	text-align:center;
	word-wrap:none;
	white-space: nowrap;
	width:100%;
}

.tile {
	display:inline-block;	
	
}


#footertext {
	float:left;
	margin-top:8px;
}


/*-- End Event part --*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
