{% extends 'Core/default.html.twig' %}

{% block title %}404 not found{% endblock %}
{% block contenttitle %}404 not found{% endblock %}

{% block content %}
				<div class="table">

					<div class="tablerow">
						<div class="left">
							<a href="{{ url('portfoliocategory', 'web-applications') }}" class="tile"  id="webapp"><span>Web Applications</span></a>
						</div>
						<div class="middle">
							<a href="{{ url('portfoliocategory', 'ios-applications') }}" class="tile"  id="iosapp"><span>iOS Applications</span></a>
						</div>
						<div class="right">
							<a href="{{ url('portfoliocategory', 'framework') }}" class="tile"  id="phpframework"><span>PHP Framework</span></a>
						</div>
					</div>

				</div>
{% endblock %}