        <div id="containerHolder">
			<div id="container">
        		<div id="sidebar">
                	<ul class="sideNav">
                    	<li><a href="{{ base_path() }}"><b>View website</b></a></li>
                    	{% block extralinks %}{% endblock %}

                    </ul>
                    <!-- // .sideNav -->
                </div>    
                <!-- // #sidebar -->