<ul id="mainNav">

<li><a href="/admincp" class="active">DASHBOARD</a></li>
<li><a href="?module=poll">USERS</a></li>
<li><a href="?module=forum">BLOG</a></li>
<li><a href="?module=news">PROJECTS</a></li>
<li><a href="?module=site">SETTINGS</a></li>

<li class="logout"><a href="{{ url('logout') }}">LOGOUT</a></li>
</ul>