
                	<form action="" method='post' class="jNice">

               			{% if loginfalse == true %}
    						 <div class="login-alert error">Bad authentication</div>
						{% endif %}
                       	<p><label>Username:</label><input type="text" name='username' class="text-long" /></p>
                       	<p><label>Password:</label><input type="password" name='password' class="text-long" /><br />	   </p>

                        <input type="submit" name="submit" value="Login" />
                        
                    </form>
